.container {
  display: inline-block;
  margin-bottom: 0.25rem;
}

.spanItem {
  color: #1d3557;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
