.titleContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1rem;
}

.title {
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  color: #1976d2;
}

.container {
  background-image: url("../../img/unassigned.png");
  background-size: cover; /* Ensures the image covers the entire div */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Makes the background fixed while scrolling */

  background-color: #ccc;
  padding: 10px;
}
