.titleContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1rem;
}

.title {
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  color: #1976d2;
}
