.titleContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
  background-color: var(--header);
}

.title {
  font-weight: bold;
}

.container {
  background-image: url("../../img/home.png");
  background-size: contain;
  background-position: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 10px;
  min-height: 100vh;
  background-color: var(--foreground);
}

.headerBtn {
  background-color: #faf0ca;
  color: red;
}

.headerButton {
  background-color: "#FAF0CA";
  color: "#3a1c50";
  font-weight: "bold";
  font-family: "Verdana";
}
